<?php

$config = require('global.php');

# monolog
$config['monolog']['monolog.level']   = \Monolog\Logger::DEBUG;
$config['monolog']['monolog.logfile'] = __DIR__.'/../var/logs/dev.log';

# debug
$config['debug'] = true;

return $config;